*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 0.9rem;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
	white-space: pre-wrap;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #c36;
}

a:active,
a:hover {
	color: #336;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
	outline: 0;
}

abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
}

details {
	display: block;
}

summary {
	display: list-item;
}

figcaption {
	font-size: 16px;
	color: #333;
	line-height: 1.4;
	font-style: italic;
	font-weight: 400;
}

label {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
	width: 100%;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #333;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	width: auto;
	-webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="button"],
[type="submit"],
button {
	display: inline-block;
	font-weight: 400;
	color: #c36;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid #c36;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

[type="button"]:focus,
[type="submit"]:focus,
button:focus {
	outline: 5px auto -webkit-focus-ring-color;
}

[type="button"]:focus,
[type="button"]:hover,
[type="submit"]:focus,
[type="submit"]:hover,
button:focus,
button:hover {
	color: #fff;
	background-color: #c36;
	text-decoration: none;
}

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

select {
	display: block;
}

dd,
dl,
dt,
li,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}

.hidden {
	display: none;
}

.main_container {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	max-width: 1050px;
}

.main_nav_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: baseline;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #fde2e4;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 0px 20px 0px;
}

.nav_logo {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav_logo img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.top_bar {
	position: relative;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 12px 0px 12px 0px;
	background-color: #000;
}

.social_media_bar,
.top_info_bar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-content: center;
	align-items: center;
}

.social_media_icons {
	display: inline-block;
	width: 100%;
	grid-template-columns: repeat(0, auto);
	-webkit-box-pack: var(--justify-content, center);
	-ms-flex-pack: center;
	justify-content: center;
	justify-items: center;
	word-spacing: 32px;
	margin-bottom: calc(-1 * 0);
}

.icon_item {
	display: inline-block;
	margin-bottom: var(--grid-row-gap);
	word-break: break-word;
}

.icon_item i {
	width: 1em;
	height: 1em;
	position: relative;
	display: block;
	color: #fde2e4;
}

.top_info_bar {
	justify-content: flex-end;
}

.top_info_bar .tel,
.top_info_bar .e_post {
	color: #fde2e4;
	font-family: "Open Sans", Sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.357em;
	letter-spacing: 2px;
}

.top_info_bar .e_post {
	padding: 0px 0px 0px 32px;
}

.main_nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: start;
}

.main_nav ul {
	margin-left: auto;
	margin-right: auto;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main_nav li {
	display: inline-block;
	padding: 0 24px;
}

.main_nav a {
	position: relative;
	font-family: "Cormorant", Sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.2em;
	letter-spacing: 1.1px;
	color: #000;
	fill: #000;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.main_nav:last-child {
	margin-inline-start: calc(64px / 2);
	margin-inline-end: calc(64px / 2);
}

.boka {
	display: flex;
	justify-content: flex-end;
}

.boka a {
	display: inline-block;
	line-height: 1;
	background-color: #818a91;
	font-size: 15px;
	padding: 12px 24px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	fill: #fff;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 16px 32px 16px 32px;

	font-family: Open Sans, Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.333em;
	letter-spacing: 1px;
	color: #fff;
	background-color: #f72585;
}

.boka_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.boka_arrow {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-box-ordinal-group: 16;
	-ms-flex-order: 15;
	order: 15;
	margin-left: 8px;
}

.boka_text {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-ordinal-group: 11;
	-ms-flex-order: 10;
	order: 10;
	display: inline-block;
}

.footer {
	background-color: #666;
}

.top_footer {
	position: relative;
	margin-top: 200px;
	margin-bottom: 0px;
	padding: 0px 0px 80px 0px;
	background-color: #f7ebe5;
	background-image: url("/img/footer_bg.jpg");
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.bg_overlay {
	/* 	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0; */
	opacity: 0.51;
	background-color: #2f2f2f;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.demologotyp {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 48px;
	margin-bottom: 0px;
}

.demologtyp_container img {
	width: 200px;
	margin-bottom: 32px;
}

.demologotyp p {
	color: #fff;
}

.divider_container {
	display: flex;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 32px;
}

.divider {
	width: 100%;
	border-top: 1px dashed #b5838d;
}

.footer_menu {
	margin-top: -32px;
	margin-bottom: 0px;
}

.footer_menu_col {
	width: 25%;
}

.menu_heading {
	margin-bottom: 32px;
	-webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s,
		-webkit-box-shadow 0.3s;
	transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s,
		-webkit-box-shadow 0.3s;
	-o-transition: background 0.3s, border 0.3s, border-radius 0.3s,
		box-shadow 0.3s;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
		-webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.menu_heading h5 {
	color: #fff;
	font-family: "Lora", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.278em;
	letter-spacing: 1px;
}

.footer_menu_col ul {
	padding: 0;
}

.footer_menu_col nav li:not(:last-child) {
	margin-bottom: 16px;
}

.footer_menu_col a {
	color: #fff;
	fill: #fff;
	padding: 0px;

	font-family: Open Sans, Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.333em;
	letter-spacing: 1px;
}

.lower_footer {
	padding: 12px 0px 12px 0px;
	background-color: #222222;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.copyright_container,
.social_media__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-content: center;
	align-items: center;
	width: 50%;
}

.social_media__container {
	justify-content: flex-end;
}

.copyright,
.social_media__container a {
	color: #fde2e4;
	font-family: "Open Sans", Sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	font-style: normal;
	line-height: 1.333em;
	letter-spacing: 1px;
}

.social_media__container ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.social_media__container li {
	margin-right: calc(32px / 2);
	margin-left: calc(32px / 2);
}

/*
.tjanster {
	display: flex;
}

.sub_nav {
	width: auto;
	font-size: 13px;
	line-height: normal;
	background-color: #ffffff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sub_nav a {
	line-height: 20px;
	text-shadow: none;
	border-left: 8px solid transparent;
}

.sub_arrow {
	line-height: 1;
	padding: 10px 0 10px 10px;
	margin-top: -10px;
	margin-bottom: -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
 */

@media (min-width: 576px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
	.nav_logo {
		width: 20%;
	}

	.main_nav {
		width: 59.332%;
	}

	.boka {
		width: 20%;
	}

	.social_media_bar {
		width: 40%;
	}

	.top_info_bar {
		width: 60%;
	}
}

@media (min-width: 782px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

/* ----------- */
@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
	.main_nav_container {
		padding: 16px 0px 16px 0px;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.main_nav_container {
		padding: 16px 16px 16px 16px;
	}

	.nav_logo {
		width: 30%;
	}

	.dropdown_menu {
		display: none;
	}
}

@media (max-width: 599px) {
}

@media (max-width: 575px) {
}

@media (max-width: 479px) {
}
