*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 0.9rem;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
	white-space: pre-wrap;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: #c36;
}

a:active,
a:hover {
	color: #336;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
	outline: 0;
}

abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
	height: auto;
	max-width: 100%;
}

details {
	display: block;
}

summary {
	display: list-item;
}

figcaption {
	font-size: 16px;
	color: #333;
	line-height: 1.4;
	font-style: italic;
	font-weight: 400;
}

label {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
	width: 100%;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 0.5rem 1rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #333;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	width: auto;
	-webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

[type="button"],
[type="submit"],
button {
	display: inline-block;
	font-weight: 400;
	color: #c36;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid #c36;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

[type="button"]:focus,
[type="submit"]:focus,
button:focus {
	outline: 5px auto -webkit-focus-ring-color;
}

[type="button"]:focus,
[type="button"]:hover,
[type="submit"]:focus,
[type="submit"]:hover,
button:focus,
button:hover {
	color: #fff;
	background-color: #c36;
	text-decoration: none;
}

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

select {
	display: block;
}

dd,
dl,
dt,
li,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ul {
	list-style: none;
}

.hidden {
	display: none;
}

.menu_container {
	display: block;
	height: 66px;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #fde2e4;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 0px 20px 0px;
	background-color: #ffffff;
}

.menu_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.nav_logo,
.hamburger_container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav_logo img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.hamburger_toggle {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.hamburger_button {
	font-size: 22px;
	padding: 0.25em;
	cursor: pointer;
	border: 0 solid;
	border-radius: 3px;
	background-color: transparent;
	color: #000;
}

.close_button {
	line-height: 1;
	font-size: 25px;
	padding: 0.25em;
	color: #f72585;
}

.dropdown_menu {
	top: 33px;
	width: 479px;
	margin-top: 10px;
	-webkit-transition: max-height 0.3s, -webkit-transform 0.3s;
	transition: max-height 0.3s, -webkit-transform 0.3s;
	-o-transition: max-height 0.3s, transform 0.3s;
	transition: max-height 0.3s, transform 0.3s;
	transition: max-height 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	overflow: auto;
}

.dropdown_menu ul {
	position: relative;
	margin: 0;
	padding: 0;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown_menu li {
	border-width: 0;
	border-style: solid;
	border-color: #fde2e4;
	border-bottom-width: 1px;
}

.dropdown_menu ul li a {
	padding: 10px 20px;
	font-size: 16px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
	font-family: "Cormorant", Sans-serif;
	box-shadow: none;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
}

.sub_nav {
	display: none;
	width: auto;
	font-size: 13px;
	line-height: normal;
	background-color: #ffffff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sub_nav a {
	line-height: 20px;
	text-shadow: none;
	border-left: 8px solid transparent;
}

.sub_arrow {
	line-height: 1;
	padding: 10px 0 10px 10px;
	margin-top: -10px;
	margin-bottom: -10px;
}

@media (min-width: 576px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 782px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}

/* ----------- */
@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
	.menu_container {
		padding: 16px 0px 16px 0px;
	}

	.menu_content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.menu_container {
		padding: 16px 16px 16px 16px;
	}

	.nav_logo {
		width: 30%;
	}

	.hamburger_container {
		width: 70%;
	}

	.hamburger_toggle {
		justify-content: flex-end;
	}
}

@media (max-width: 599px) {
}

@media (max-width: 575px) {
}

@media (max-width: 479px) {
}
