.about_one,
.about_two {
	display: flex;
}

.ao_left {
	width: 42%;
	padding: 100px 0px 0px 0px;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.ao_right {
	width: 58%;
	padding: 100px 0 0px 64px;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.ao_right_content {
	padding: 0% 25% 0% 0%;
}

.ao_right .sub_title h6,
.at_left h6 {
	color: #f72585;
}

.about_one_title h2 {
	margin: -24px 0px 32px 0px;
}

.about_two {
	margin-top: 0px;
	margin-bottom: 100px;
}

.at_left {
	width: 57%;
}

.at_left_content {
	margin: 0px 64px 0px 0px;
	padding: 0% 0% 0% 23%;
}

.at_sub_title {
	font-family: "Open Sans", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.333em;
	margin-bottom: 32px;
}

.at_right {
	width: 43%;
	display: flex;
}

.atr_left,
.atr_right {
	width: 50%;
	padding: 0px 15px 0px 15px;
}

.about_three {
	margin-top: 390px;
	margin-bottom: 0px;
}

.about_three > .main_container {
	flex-direction: column;
	text-align: center;
}

.fake_video {
	margin-top: -290px;
	margin-bottom: 0px;
}

.about_three_content .middle_content {
	text-align: center;
}

.about_list {
	display: flex;
	justify-content: center;
	padding: 50px 0px 100px 0px;
}

.left_list,
.right_list {
	width: 50%;
	padding: 0px 16px 0px 0px;
}
